body{
    background-color: rgb(245, 237, 168);
    font-family: sans-serif;
    /* color: black; */
}
h1{
    color: rgb(0, 0, 0);
}
#section{
    border: 4px dashed rgb(7, 1, 31);
    color: rgb(0, 0, 0);
    text-shadow: 25px;
    font-weight: bold;
}
#all-assignments{
    border: 5px dotted rgb(45, 4, 84);
}